<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Load the URDF/Xacro model of our robot -->

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find carmodel_description)/urdf/carmodel2.urdf.xacro'" />
    
  <!-- Arbotix -->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen" clear_params="true">
      <rosparam file="$(find carmodel_description)/config/fake_carmodel_arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>

  <!-- publish joint state-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <!-- publish robot state-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>

  
</launch>
