<launch>

  <param name="use_sim_time" value="true" />

  <arg name="scan_topic" default="scan" />

  <!-- Set the name of the map yaml file: can be overridden on the command line. -->
  <arg name="map" default="map.yaml" />

  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find carmodel_nav)/maps/$(arg map)"/>

  <!-- The move_base node -->
  <include file="$(find carmodel_nav)/launch/fake_move_base.launch" />

  <!-- A necessary transformation from map to odom-->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find carmodel_nav)/config/amcl.rviz" required="true" />

</launch>
